# System
.DS_Store
ehthumbs.db
Thumbs.db
.project

# Runtime data
pids
*.pid
*.seed

# Logs
logs
log
*.log

# Databases
.sqlite
.sqlite3
.db

# Local sandboxing
sandbox.js
sandbox

/node_modules
VERSION
atlastory-db.json
