<!DOCTYPE html>
<html>
<head>
    <title>Atlastory API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h1>Atlastory API</h1>

    <h2>Map</h2>



    <h2>Layer</h2>

    <h3>GeoJSON</h3>

    <p>
        <strong>/map/:id/layer/:id/geojson</strong><br/>
        <strong>/geojson?id=:id</strong>
    </p>

    Options:
    <ul>
        <li><strong>pid</strong> (required) -- period ID</li>
        <li><strong>bbox</strong> (optional) -- coordinates of a bounding box, bottom-left and top-right points (formatted as "x1,y1,x2,y2", or "west,south,east,north")</li>
        <li><strong>z</strong> (optional) -- zoom level of map for geometry simplification</li>
    </ul>
    <code>
        GET api.atlastory.com/v1/layer/61/geojson?pid=1&bbox=-86.309,16.805,-71.631,25.324
    </code>

    <p>
        <em>Example:</em> <a href="/map/1/layer/61/geojson?pid=1&z=0">GeoJSON with zoom</a><br/>
        <em>Example:</em> <a href="/map/1/layer/61/geojson?pid=1&bbox=-86.30859375,16.804541076383455,-71.630859375,25.3241665257384">GeoJSON with bounding box</a>
    </p>

    <h3>TopoJSON</h3>

    <p>
        <strong>/map/:id/layer/:id/topojson</strong><br/>
        <strong>/topojson?id=:id</strong>
    </p>

    Options: same as GeoJSON
    <p>
        <em>Example:</em> <a href="/map/1/layer/61/topojson?pid=1&bbox=-86.309,16.805,-71.631,25.324">TopoJSON with bounding box</a>
    </p>

    <h2>Shape</h2>



</body>
</html>
