<!DOCTYPE html>
<html>
<head>
    <title>Atlastory API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h1>Atlastory API</h1>

    <h2>GeoJSON</h2>
    <h2>Map</h2>
    <h2>Layer</h2>
    <h2>Shape</h2>

</body>
</html>
